body {
    background: linear-gradient(to right, #f8f9fa, #3a17d7);
    margin: 0;
    /* reset browser margin */
    padding: 0;
}
.active {
    background-color: #3a17d7;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.nav-link{
    font-size: 1.2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-link:hover {
    /* margin-top: 7px; */
    /* margin-bottom: 5px; */
    margin-left: 5px;
    margin-right: 5px;
    /* padding: 5px; */
    background-color: #3a17d7;
    border-radius: 10px;
}

.logo {
    color: #3a17d7;
}

.profile-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    max-width: 600px;
    margin: 50px auto;
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: 0.3s ease-in-out;
}


.profile-container:hover {
    transform: scale(1.02);
}

.profile-image {
    width: 200px;
    height: 200px;
    border: 5px solid #4CAF50;
    border-radius: 50%;
    overflow: hidden;
    /* ensures image doesn’t overflow */
    margin: 0 auto 15px;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* keeps it centered & cropped */
    border-radius: 50%;
    /* redundant but safe */
}

.profile-image img:hover {
    box-shadow: 0 0 25px rgba(76, 175, 80, 0.6);
}

.profile-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.profile-info p {
    margin: 8px 0;
    font-size: 1rem;
    color: #555;
}

.profile-info strong {
    color: #333;
}
.email-label{
    font-size: 20px;
}
.profile-email{
    font-size: 20px;
}
/* File input styling */
#selected-image {
    display: none;
}

.upload-btn {
    display: inline-block;
    background: #4CAF50;
    color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    transition: 0.3s;
}

.upload-btn:hover {
    background: #45a049;
}

/* Logout Button */
.logout-btn {
    margin-top: 20px;
    background: #f44336;
    border: none;
    color: white;
    padding: 10px 18px;
    font-size: 1.1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #d32f2f;
}
@media (max-width:767px) {
    .profile-container {
        margin: 40px 15px;
    }
}